@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  /* Custom scrollbar styles */
  .scrollbar-thin::-webkit-scrollbar {
    width: 5px;
    height: 4px;
  }
  .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: rgb(100, 99, 99);
    border-radius: 2px;
  }
  .scrollbar-thin::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1);
  } 
}
